/* 
COLOR PALETE 
https://coolors.co/3c7a89-656565-d5cfe1-240b36-d4bebe
#F5F749 - Maximum Yellow
#B33F62 - Irresistible (red)
#F2EFEA - Isabelline (white) 
#468C98 - Steel Teal (dark mint)
#192BC2 - Persian Blue (vibrant blue)
#91171F - Carmine (vibrand red)
#0A090C - Rich Black
#E16036 - Flame (darker orange)
#D8E1FF - Lavender Web (pale color)
*/

/*Global styles 
-------------------------------------------*/
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: #000000;
  display: flex;
  flex-direction: column;
}

table {
  margin-bottom: 10px;
}

abbr {
  color: gray;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

/*About Page / Profile
-------------------------------------------*/
#header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, #d8e1ff, transparent);
}

#header-content h1,
h2 {
  margin: 5px;
}

#header-content a {
  color: #192bc2;
  text-decoration: none;
}

#header-content a:hover {
  color: #91171f;
  text-decoration: underline;
}

#my-picture img {
  margin: 5px;
  border: 2px solid #0a090c;
  border-radius: 50%;
}

#name {
  flex: 1;
  padding: 5px;
}

#job-title {
  font-weight: bold;
  font-size: 1em;
}

#creepy-cat {
  margin: 5px;
  text-align: right;
}

/*Top-menu-bar
-------------------------------------------*/
#top-menu-bar {
  text-align: center;
  background: #468c98;
  margin: 0;
}

#top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#top-menu-bar a {
  display: inline-block;
  border-radius: 0.7em;
  text-decoration: none;
  color: #f5f749;
  padding: 5px 8px;
  transition: 0.5s;
}
#top-menu-bar a:hover {
  color: #b33f62;
  background: #1f2041;
}

/*SIDE-MENU / EMAIL
-------------------------------------------*/
#side-menu {
  padding: 5px;
}

#side-menu > section {
  margin: 0 10px 10px 0;
  padding: 10px;
  background-color: #d8e1ff;
  box-shadow: 5px 5px 3px #468c98;
  border-radius: 3px;
}

#subscriberEmail {
  background: yellow;
}

/*SIDE-MENU / INTERACTIVE - in work
-------------------------------------------*/

/*MAIN-MENU / VALUES
-------------------------------------------*/
#main {
  flex: 1;
  padding: 5px;
}

#main > section {
  margin: 0 10px 10px 0;
  padding: 10px;
  background-color: #d8e1ff;
  box-shadow: 5px 5px 3px #468c98;
  border-radius: 3px;
}

#main a {
  color: #192bc2;
  text-decoration: none;
}

#main a:hover {
  color: #91171f;
  text-decoration: underline;
}

.page {
  display: none;
  border-radius: 0.8rem;
  border: 3px solid #e0dfdc;
  background: #ffffff;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
}

#skills-list li {
  font-weight: bold;
}
#skills-list span {
  color: gray;
  font-weight: 200;
}

/*Contact Info / Footer
-------------------------------------------*/
#footer-content {
  padding: 6px;
  text-align: center;
  background: #d8e1ff;
}

#footer-content a {
  padding: 0 2px;
  font-weight: bold;
  text-decoration: none;
  color: #1a3642;
}

/*Responsive - in work
-------------------------------------------*/
