.circle {
  width: 100px;
  height: 100px;
  background-color: rgba(240, 134, 22, 0.6);
  border-radius: 50%;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 80px solid #f2a5c9;
  margin-top: 20px;
}

table {
  height: 200px;
  width: 200px;
}

.color-1 {
  background-color: yellow;
}

.color-2 {
  background-color: red;
}

.color-3 {
  background-color: blue;
}

.color-4 {
  background-color: green;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  width: 50px;
  height: 50px;
  padding: 20px;
  border: solid black;
  border-radius: 10%;
}
